body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.7;
  padding: 20px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(141, 99, 99, 0.651)), to(rgba(207, 185, 185, 0.651))), url(../img/architecture-bridge-building-capital-220774.jpg);
  background-image: linear-gradient(to right top, rgba(141, 99, 99, 0.651), rgba(207, 185, 185, 0.651)), url(../img/architecture-bridge-building-capital-220774.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
}

.header__navigation {
  position: absolute;
  top: 100px;
  left: 150px;
}

.header__navigation--link {
  font-size: 22px;
  color: #7cffc4;
  text-decoration: none;
  display: inline-block;
  margin-right: 100px;
}

.header__text-box {
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: left;
  width: 20%;
}

.header_title {
  display: block;
  font-size: 62px;
  letter-spacing: 10px;
  color: #7cffc4;
}

.section-about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  background-color: #f7f7f7;
  padding: 165px 0;
  margin-top: -15vh;
}

.col-1of2 {
  padding: 8rem;
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
  outline-offset: 10px;
}

.composition__photo--p1 {
  top: -20px;
  right: 0px;
}

.composition__photo--p2 {
  left: 0;
  top: 30px;
  width: 63%;
}

.composition__photo--p3 {
  top: 120px;
  left: 25%;
}

.composition__photo:hover {
  outline: 10px solid #777;
  -webkit-transform: scale(1.05) translateY(-50px);
          transform: scale(1.05) translateY(-50px);
  -webkit-box-shadow: 0 2.5 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5 40px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.history__title {
  text-align: center;
  padding-bottom: 20px;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}

.history__descripton {
  font-size: 16px;
  padding-bottom: 20px;
}

.monuments {
  padding: 150px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(155, 113, 113, 0.8)), to(rgba(207, 185, 185, 0.8)));
  background: linear-gradient(to bottom, rgba(155, 113, 113, 0.8), rgba(207, 185, 185, 0.8));
  -webkit-clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%);
  margin-top: -170px;
}

.monuments__title {
  text-align: center;
  padding-bottom: 30px;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}

.church__picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.church__title {
  text-align: center;
  padding-top: 25px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
}

.church__descripton {
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  padding-top: 10px;
  margin-left: 22px;
}

.tower__picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.tower__title {
  text-align: center;
  padding-top: 25px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
}

.tower__descripton {
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  padding-top: 10px;
}

.mountain__picture {
  display: block;
  margin: 0 auto;
  width: 45%;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.mountain__title {
  text-align: center;
  padding-top: 25px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
}

.mountain__descripton {
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  padding-top: 10px;
  margin-right: 22px;
}

.parliament {
  margin-top: 50px;
}

.parliament__picture {
  display: block;
  margin: 0 auto;
  width: 65%;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.parliament__title {
  text-align: center;
  padding-top: 25px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
}

.parliament__descripton {
  text-align: center;
  font-size: 16px;
  margin: 10px 65px;
}

.kitchen {
  background-color: #f7f7f7;
}

.kitchen__title {
  text-align: center;
  margin: 50px 0 30px;
  font-size: 32px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex__item {
  max-width: 550px;
}

.flex__item--max {
  max-width: 100%;
  margin-top: 25px;
}

.btn-text:link, .btn-text:visited {
  font-size: 16px;
  color: #777;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #777;
  padding: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-text:hover {
  background-color: #777;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */