.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        max-width: 550px;
    }

    &__item--max {
        max-width: 100%;
        margin-top: 25px;
    }

}