.gallery {
    background-color: #3E5151;
    padding: 15px;

    &__title {
        text-align: center;
        margin: 50px 0 50px;
        font-size: $h2-font-size;
        text-transform: uppercase;
        background-color: rgba($color-black, .1);
        font-weight: 700;
    }
}

.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}