.kitchen {
    // background-color: $color-grey-light-1;
    background: #3E5151;
    background: -webkit-linear-gradient(to bottom, #DECBA4, #3E5151);
    background: linear-gradient(to bottom, #DECBA4, #3E5151);

    padding-top: 20px;

    &__title {
        text-align: center;
        margin: 50px 0 30px;
        font-size: $h2-font-size;
        text-transform: uppercase;
        background-color: rgba($color-black, .1);
        font-weight: 700;
    }
}

.about-meals {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.pepper {
    padding-top: 30px;
    margin-left: 90px;


    &__picture {
        width: 80%;
        box-shadow: 0 15px 40px rgba($color-black, .5);
    }
}

.meals {
    width: 900px;

    &__title {
        text-align: center;
        padding-top: 135px;
        font-size: $h3-font-size;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__description {
        text-align: center;
        font-size: $default-font-size;
        padding-top: 30px;
        margin-left: 22px;
    }
}

.about-wine {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding-bottom: 35px;
}

.vineyard {
    margin-left: 90px;

    &__picture {
        width: 90%;
        box-shadow: 0 15px 40px rgba($color-black, .5);
    }
}

.wine {
    width: 900px;

    &__title {
        text-align: center;
        padding-top: 135px;
        font-size: $h3-font-size;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__description {
        text-align: center;
        font-size: $default-font-size;
        padding-top: 30px;
        margin-left: 22px;
    }
}